.signUp{
    background: url("https://media.istockphoto.com/id/1276862025/photo/cheerful-blonde-woman-in-activewear-with-wreless-earphones-looking-away.jpg?s=2048x2048&w=is&k=20&c=LwMm35UTB92xruz2hD2RZX0gg6ugZj_2762Vq_E0-SE=");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}