$yellow: #fff24c;
$blackBlue: #1e1e2a;
$blueGray: #2e2e3a;
$green: #54a23e;
$gray: #8e8e91;

* {
  padding: 0%;
  margin: 0;
}
#root{
  padding: 0%;
  margin: 0;
  h2 {
    color: #fff24c;
  }
  .ManagerPageDiv {
    padding: 0 !important;
    background-color: $blackBlue;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 1rem;
    background-color: $blackBlue;
    width: 100vw;
    height: 100vh;
    color: $gray;
    border-color: $gray !important;
    button {
      background-color: $green;
      border: 1px solid $gray;
      color: blue;
    }
  }
}
.calendar {
  width: 60%;
  height: 50%;
  margin: 1rem;
}
.addEventForm {
  width: 30%;
  padding: 1rem;
  border-radius: 5px;
  background-color: $blueGray;
  margin: 1rem;
  height: 92%;
  text-align: left;
  input {
    border: none;
    border-radius: 3px;
    margin: px;
    padding: 3px;
    background-color: $gray;
    width: 170px;
    height: 40px;
    margin: 5px;
  }
  #isRecurring {
    width: 20px;
    height: 20px;
  }
  button {
    display: block;
    background-color: #7c549e;
    color: white;
    margin-top: 1rem;
  }
}
