:root{
  overflow: hidden;
}

.profilePageDiv {
  width: 100vw;
  height: 100vh;
  padding: 6rem;
  background-color: rgb(24, 43, 18);
  display: flex;
  justify-content: space-around;
  
  .userInfoDiv {
    background-color: antiquewhite;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.141);
    padding: 1rem;
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin: 1rem;
    }
    .userInfoItem {
      display: flex;
      padding: 15px;
      p {
        padding: 0px 15px;
      }
    }
    .penIcon {
      font-size: 20px;
      :hover {
        cursor: pointer;
      }
    }
  }
  .userHistory {
    padding: 1rem;
    text-align: left;
    display: flex;
    /* סקרול בר עיצוב יפה וקלאסי */

/* עיצוב כללי */
::-webkit-scrollbar {
  width: 12px; /* רוחב סרוק בר */
  border-radius: 20px;
}

/* Track (רקע הסרול בר) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* רקע סרוק בר */
  border-radius: 20px;
}

/* Handle (החלק המתפרצת בסרול בר) */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #585858; /* צבע הסרול בר עצמו */
}

/* פינות עגולות בחלק העליון של הסרול בר */
::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background: #555; /* צבע הסרול בר עצמו בעת הרחקת עכבר מעליו */
}

/* צבע הסרול בר כאשר הקלט מתבצע */
::-webkit-scrollbar-thumb:active {
  background: #555; /* צבע הסרול בר עצמו כאשר נלחץ עליו */
}
    .lastTrainings,
    .nextTrainings {
      height: 80vh;
      overflow-y: scroll;
      margin: 10px;
      background-color: #454545;
      padding: 15px;
      border-radius: 10px;

      

      h3 {
        color: white;
      }

      .training {
        background-color: bisque;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid gray;

        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.141);
        margin: 0.5rem;

        .trainingInfo {
          display: flex;
        }
      }
    }
  }
}



.closeBtn {
  position: absolute;
  // width: 40px;
  font-size: xx-large;

  top: 9%;
  left: 24%;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}
