:root{
  overflow: hidden;
}

.profilePageDiv {
  background: url("https://media.istockphoto.com/id/1177437552/photo/black-color-felt-letter-board-with-white-alphabet-in-word-profile-background.jpg?s=2048x2048&w=is&k=20&c=yNkT1XF6JGqKXNxfbka5My6EKq8p-rdsbTkY_C6wy2w=");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 6rem;
  display: flex;
  justify-content: space-around;
  
  .userInfoDiv {
    height: 65%;
    width: 35%;
    text-align: center;
    background-color: #bfbab0;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.141);
    padding: 1rem;
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin: 1rem;
    }
    .userInfo{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .userInfoItem {
      display: flex;
      padding: 15px;
      p {
        padding: 0px 15px;
      }
    }
    .penIcon {
      font-size: 20px;
      :hover {
        cursor: pointer;
      }
    }
  }
  .userHistory {
    padding: 1rem;
    text-align: left;
    display: flex;

::-webkit-scrollbar {
  width: 12px; 
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #585858; 
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background: #555; 
}

::-webkit-scrollbar-thumb:active {
  background: #555; 
}
    .lastTrainings,
    .nextTrainings {
      height: 80vh;
      overflow-y: scroll;
      margin: 10px;
      background-color: #454545;
      padding: 15px;
      border-radius: 10px;

      

      h3 {
        color: white;
      }

      .training {
        background-color: bisque;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid gray;

        box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.141);
        margin: 0.5rem;

        .trainingInfo {
          display: flex;
        }
      }
    }
  }
}



.closeBtn {
  position: absolute;
  width: 40px;
  font-size: xx-large;

  top: 9%;
  left: 24%;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}
